<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Thế giới di động</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src='main.js'></script>
</head>
<body>
    <header >
        <div class="header_top" style="background-color: #000000;height: 50px; color: #ffff;">
            <div class="container">
              <a href="/">
                <img src="../icons/icon_tgdd.png" alt="TGDD">
              </a>
              <a href="/cart">
                <img src="../icons/icon_cart.png" alt="CART">
              </a>    
            </div>
        </div>
        <div class="header_main">
            <p>This is CART page</p>
            
        </div>
    </header>

    <section>
        
    </section>

    <footer>

    </footer>
</body>
</html>