<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Thế giới di động</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
      .header_top>div{
        display: flex;
      }
      .header_top a{
        text-decoration: none;
        color: white;
      }
    </style>
</head>
<body>
    <header style="box-sizing: border-box;">
        <div class="header_top" style="background-color: #000000; height: 60px; text-align: center; ">
            <div class="container" style="width:100%">
              <a href="/">
                <img src="../icons/icon_tgdd.png" alt="TGDD">
              </a>
              <div style="width:15px"></div>
              <a href="#" style="color: white; width: 250px;">
                Xem giá, khuyến mại tại
                <span style="display: -webkit-box; color: yellow;">
                  Hà Nội
                  <!-- <img src="../icons/icon_find.png" alt="find" style="color: yellow;"> -->
                </span>
                
              </a>
              <div style="width:15px"></div>
              <a href="/cart" style="width:160px; margin-top: 10px;">
                <img src="../icons/icon_cart.png" alt="CART">
                <span>Giỏ hàng</span>
              </a>
              <div style="width:15px"></div>
              <div class="mb-3" style="width:max-content; margin-top: 10px;">
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Search">
              </div>
              <div style="width:15px"></div>
              <a href="/" style="width:100px">
                <span>Lịch sử đơn hàng</span>
              </a>
              <div style="width:15px"></div>
              <div class="spinner-grow" style="width: 3rem; height: 2rem; color: yellow; margin-top: 10px;" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <a href="/" style="width:250px; color: yellow;">
                <span>Cộng tác bán hàng cùng Thế giới di động
                </span>
              </a>
              <div style="width:15px"></div>
              <a href="/" style="width:170px; margin-top: 10px;">
                <span>24h<br>Công nghệ</span>
              </a>
              <div style="width:15px; text-align: center"></div>
              <a href="/" style="width:70px;margin-top: 10px;">
                <span>Hỏi Đáp</span>
              </a>
              <div style="width:15px"></div>
              <a href="/" style="width:70px;margin-top: 10px;">
                <span>Game App</span>
              </a>


                 
            </div>
        </div>
        <div class="header_main">
            <p>Hoang Huu Manh 123</p>
            
        </div>
    </header>

    <section>
        
    </section>

    <footer>

    </footer>
</body>
</html>